[Unit]
Description=PID fan controller
After=lm-sensors.service
Requires=lm-sensors.service
After=multi-user.target

[Service]
Type=simple
Environment=CONFIG_FILE=/root/scripts/fancontrol/config.yaml
Environment=LOG_LEVEL=INFO
ExecStart=/root/scripts/fancontrol/fancontrol.py

[Install]
WantedBy=multi-user.target

# vi:ft=systemd
