[Unit]
Description=PID fan controller
After=lm-sensors.service
Requires=lm-sensors.service
After=multi-user.target

[Service]
Type=simple
ExecStart=/root/scripts/fancontrol/fancontrol

[Install]
WantedBy=multi-user.target

# vi:ft=systemd
